<div class="carouselClass">
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="false" [animation]="'slide'" [interval]=3000>
  <!--First slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/images/main/backk.jpg" alt="First slide">
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/images/main/mainwall.jpg" alt="Second slide">
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/images/main/ritzz.jpg" alt="Third slide">
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
<app-booking-tab></app-booking-tab>

    <div class="popularHotels">
    <div>
      <h1>Popular Hotels</h1>
          <p>We love to tell our successful far far away, behind the word mountains,
             far from the countries Vokalia and Consonantia, there live the blind texts.</p>
   </div>
   </div>

      <!--First slide-->
   <div class="popular-hotel-cards">
      <div class="card">

                <!--Card image-->
                <div class="view zoom hm-white-slight waves-light" mdbWavesEffect>
                    <img class="card-images" src="assets/images/main/popHotel1.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            
                <!--Card content-->
                <div class="card-body">
            
                    <!--Title-->
                    <h3 class="card-title">Hotel1</h3>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
                </div>
            
            </div>
            <!--/.Card-->
            <div class="card">

                <!--Card image-->
                <div class="view zoom hm-white-slight waves-light" mdbWavesEffect>
                    <img class="card-images" src="assets/images/main/popHotel2.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
            
                    <!--Title-->
                    <h3 class="card-title">Hotel2</h3>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
                </div>
            
            </div>
            <div class="card">

                <!--Card image-->
                <div class="view zoom hm-white-slight waves-light" mdbWavesEffect>
                    <img class="card-images" src="assets/images/main/popHotel3.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            
                <!--Card content-->
                <div class="card-body">
            
                    <!--Title-->
                    <h3 class="card-title">Hotel3</h3>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
                </div>
            
            </div>
            <!--/.Card-->
            <div class="card">
                <!--Card image-->
                 <div class="view zoom hm-white-slight waves-light" mdbWavesEffect>
                    <img class="card-images" src="assets/images/main/popHotel4.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                        <a>
                            <div class="mask"></div>
                                </a>
                </div>
                            
                <!--Card content-->
                    <div class="card-body">
                            
                    <!--Title-->
                        <h3 class="card-title">Hotel4</h3>
                            <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                     <!-- <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
                    </div>
                            
            </div>
                <!--/.Card-->
                
        </div>

        <div class="footer-contact">
            <div class="contact-row">
                <div class="col-md-3">
                    <h4>BookingOnline</h4>
                    <p>We Provide high class service of hotel booking<br>
                         and visiting around the globe with excellent <br> 
                        record and customer satisfaction. </p>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-left:40px;">Top Offers</h4>
                    <ul>
                        <li><a>Edina Hotel</a></li>
                        <li><a>Quality Suites</a></li>
                        <li><a>The Ritz Carlton Hotel</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 style="padding-left:37px;">Contact Information</h4>
                    <ul>
                        <li>UBIT, KU Circular Road , <br>University of Karachi Gulshan,<br> Karachi</li>
                        <li><a href="tel://1234567890">+123 4567 890</a></li>
                        <li><a href="mailto:info@BookingOnline.com">info@BookingOnline.com</a></li>
                    </ul>
                </div>
            
            </div>

        </div>